.ask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../images/ask_background.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 720px;
    width: 100%;
    
}
.ask_title{
    width: 621px;
    height: 54px;
    text-align: center;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #000000;

}
.ask>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ask p{
    width: 534px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.ask_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 613px;
    height: 500px;
}
.ask_form input{
    width: 465px;
    height: 67px;
    border: 1px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    padding: 19px 20px 18px 20px;
    box-sizing: border-box;
}
.ask_form textarea{
    resize: none;
    width: 465px;
    height: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #000000;
    color: rgba(0, 0, 0, 0.6);
    padding: 11px 20px 11px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.ask_form button{
    width: 465px;
    height: 67px;
    background: #025ED4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    
}
.ask_form button:hover{
    box-shadow: 5px 5px 13px 3px rgba(255, 255, 255, 0.23) inset;
}
